*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.nav-logo{
    font-family: "Satisfy";
    display:flex;
    margin-left: 10%;
    padding-bottom: 18px;
    font-size: 40px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,104,1) 35%, rgba(0,212,255,1) 100%);
    height: 180px;
    color: white;
    opacity: 90%;
    display: flex;
width: 100%;
margin: 0 auto;
align-items: center;
flex-direction: row;
position: fixed;
z-index: 1;
}
li{
    display: inline-block;
    margin-left:10%;
    padding-top: 0%;
    margin-top:25px
    
}

.menu {
    position: fixed;
    top: 6%;
    right: 5%
}

 li:hover{
    
    color:white;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 190px;
    border: solid;
    width: 120px;
    border-color: purple;
   
}

a{
    text-decoration: none;
    list-style: none;
    color:white
}

.nav-container{
display: flex;
height: 400px;
width: 90%;
margin: 0 auto;
justify-content: center;
flex-direction: column;
position: fixed;

}
svg{
    width: 30px;
}

.nav-input:checked + .nav-menu{
    clip-path: circle(100% at center)
}

.nav-logo{
    font-size: 3em;
    font-weight: 900;
}

.nav-label, .nav-input{
    display: none;
}

.nav-menu{
    display:grid;
    grid-auto-flow: column;
    gap: 3em;

}

.nav-item{
    color:white;
    text-decoration: none;
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

.nav-item::after{
    content:"";
    display: block;
    background: white;
    width: 90%;
    margin-top:3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav-item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 700px){
    .nav-label{
        display:block;
        cursor:pointer; 
      width: 30px;
    }
.nav{
    height: 100px;
}
.nav-logo{
    padding-top: 30px;
}

    .nav-menu{
        position: fixed;
        top: 100px;
        bottom: 0px;
        background: purple;
        width: 20%;
        left:0;
        display: flex;
        flex-direction: column;
        align-content: left;
        padding: 0px;
        clip-path: circle(0 at center);
        transition:clip-path 1s ease-in-out;
    }
    li{
        width: 100%;
    }
    li a{
        display: flex;
        justify-content: center;
        padding: 1px;
        border-style: solid 1px;
        border-radius: 10px 5px 5px 10px;
        border-color: rgba(247, 19, 255, 0.387);
        width: 100%;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgb(117, 1, 1) 0%, rgb(187, 0, 255) 50%, rgb(0, 0, 0) 100%);
        box-shadow: 2px 16px 30px 0px rgba(0,0,0,0.94);
        -webkit-box-shadow: 2px 16px 30px 0px rgba(0,0,0,0.94);
        -moz-box-shadow: 2px 16px 30px 0px rgba(0,0,0,0.94);
    }

        .nav-logo{
        display: flex;
        padding-left: 0px;
    }

    .cuerpo{
        padding-left: 18%;
    }
  #inicio{
      width: 90%;
  }

  #clasesyhorarios{
      width: 90%;
  }
  #horariosficha, #horariotarde{
      width: 120%;
      border-radius: 30px;
      margin-right: 0%;
  }

  #staff, #formulario{
    width: 90%;
    height: 70%;
  }
  
  #inputdato{
      width: 100%;
height: 30%;
  }
  #botonenvio {
      width: 60%;
    margin-bottom: 60%;
  }
}

.cuerpo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 60px;
background-image: url(https://img.freepik.com/vector-gratis/filas-cine-rojo-o-asientos-teatro-aislados-sobre-fondo-negro_270215-386.jpg);

}

.inicio{
   margin-top: 30%;
   box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
   background: rgba(255,255,255,0.1);
   color: white;
   opacity: 80%;
   height: 80%;
   width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   backdrop-filter:blur(5px);
   -webkit-backdrop-filter:blur(5px);
   border-top:1px solid rgba(220, 11, 216, 0.5);
   border-left:1px solid rgba(18, 176, 255, 0.5);
   border-radius:15px;

}
.textobienvenida{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.textobienvenida h2{
    
  background: #b3007a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;

  
}
.textobienvenida p{
    padding-top:20px;
}

.frentelocal{
    width: 40%;
    border-radius: 190px;
    padding: 30px;
}

.clasesyhorarios{
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 70%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: white;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter:blur(5px);
        border-top:1px solid rgba(220, 11, 216, 0.5);
        border-left:1px solid rgba(18, 176, 255, 0.5);
        border-radius:15px;
}
.clasesyhorarios h2{
    background: #b3007a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3em;
}
.texthorario{
padding: 5%;
}


.staff{
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 70%;
    margin-top: 20%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-top:1px solid rgba(220, 11, 216, 0.5);
    border-left:1px solid rgba(18, 176, 255, 0.5);
    border-radius:15px;
}
.staff h2{
    background: #b3007a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3em;
    margin-top: 10%;
}

.staff hr{
    width: 80%;
    margin-top:20px;
    margin-bottom: 20px;
}
.imagenprofes{
    width: 80%;
    height: 50%;
    border-radius: 30px
}
.horariosficha{
 width: 80%;
 padding: 20px;

}

.formulario{
    color:white;
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 60%;
    height: 800px;
    margin-top: 150px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-top:1px solid rgba(220, 11, 216, 0.5);
    border-left:1px solid rgba(18, 176, 255, 0.5);
    border-radius:15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    justify-content: center;
    align-items: center;
}


.profesores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.profecard{
    width: 350px;
    height: 320px;
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inscripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.inscripcion h3{
    background: #b3007a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
}
.inscripcion hr{
    width: 100%;
    margin-top:20px;
    margin-bottom: 20px;
}

.inputdato{
    padding: 2%;
    margin-bottom: 10px;
}
.clasescheck{
    display: flex;
    flex-direction: column;
}
.profesores p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    flex-direction: column;
}

.contenedoractividades{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
width: 100%;

margin-top: 10%;
padding-top: 10px;
}



 #text{
    width: 100%;
}
input{
    border-radius: 10px;
    width: 70%;
    height: 20px;
    margin-left: 5px;
    padding: 10px;

}
.actividades1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10%;
}
.actividades2{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.datos-personales{
    width: 100%;
    display:flex;
    flex-direction: column;
    height:70%;
    padding: 20px;
    justify-content: space-around;
    
}


.botonenvio{
    color:white;
    width: 30%;
    margin-top: 10%;
    background-color: #b3007a;
    border-radius: 10px;
    font-size: 100%;
}