*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.nav-logo{
    font-family: "Satisfy";
    display:flex;
    margin-left: 10%;
    padding-bottom: 18px;
    font-size: 40px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,104,1) 35%, rgba(0,212,255,1) 100%);
    height: 80px;
    color: white;
    opacity: 90%;
    display: flex;
width: 100%;
margin: 0 auto;
margin-top: 2%;
align-items: center;
flex-direction: column;
position: fixed;
z-index: 1;

}

li{
    display: inline-block;
    margin-left:10%;
    padding-top: 0%;
    margin-top:25px
    
}


 li a:hover{
     color:purple;
}

a{
    text-decoration: none;
    list-style: none;
    color:white
}

.nav-container{
display: flex;
height: 150px;
width: 100%;
margin: 0 auto;
flex-direction: row;
position: fixed;

}
svg{
    width: 30px;
}

.nav-menu{
background: black;
display: flex;
flex-direction: row;
}


.nav-input:checked + .nav-menu{
    clip-path: circle(100% at center)
}

.nav-logo{
    margin: 0;
   font-size: 400%;
    font-weight: 100%;
    margin-top:-1%;
    position: absolute;
}

ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 200px;


}

.nav-label, .nav-input{
    display: none;
}

.nav-menu{
    display:flex;
    position: absolute;
    flex-direction: row;
    gap: 3em;
    top: 0%;
    left: 100%;

}

.nav-item{
    color:white;
    text-decoration: none;
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

.nav-item::after{
    content:"";
    display: block;
    background: white;
    width: 90%;
    margin-top:3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
/*________________RESPONSIVE__________________________________________*/

@media (max-width: 757px){
    .nav-label{
        display:block;
        cursor:pointer; 
      width: 30px;
    }
.nav{
    height: 100px;
}
.nav-logo{
    padding-top: 6px;
}

.menu{
    display: flex;
    position: fixed;
    top:6%;
    right:10px;
}
    .nav-menu{
        position: fixed;
        top: 17%;
        left: 0%;
        bottom: 0px;
        background: rgba(128, 0, 128, 0.479);
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: left;
        padding: 0px;
        clip-path: circle(0 at center);
        transition:clip-path 1s ease-in-out;
    }
    li{
        width: 100%;
    }
    li a{
        display: flex;
        border-style: solid 1px;
   flex-direction: column;
        width: 100%;
       }
    ul{
        display: flex;
left: 10px;
        flex-direction: column;

    }
        .nav-logo{
        display: flex;
        padding-left: 0px;
    }

    .cuerpo{
        padding-left: 18%;
    }
    #bannerprincipal{
        margin-top: 70%;
    }
#login{
    margin-right: 20%;
}
  #inicio{
      width: 98%;
      margin-right: 20%;
      
  }

  #clasesyhorarios{
      width: 98%;
      margin-right: 20%;
  }
  #horariosficha, #horariotarde{
      width: 120%;
      border-radius: 30px;
   
  }

  #staff, #formulario{
    width: 98%;
    height: 70%;
    margin-right: 20%;
  }
  
  #inputdato{
      width: 100%;
height: 30%;
  }
  #botonenvio {
      width: 60%;
    margin-bottom: 60%;
  }
#contacto{
    width: 98%;
    margin-right: 20%;
}

}


/*______________________________________________*/
.cuerpo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 60px;
background-image: url(https://img.freepik.com/vector-gratis/filas-cine-rojo-o-asientos-teatro-aislados-sobre-fondo-negro_270215-386.jpg);

}
.bannerprincipal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    padding-bottom: 20%;
}

.bannerprincipal h1{
    justify-content: center;
    align-items: center;
    top: 300px;
    right: 60%;
    font-size: 200%;
    
  background: #ff0000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff0000, #29f1ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff0000, #29f1ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.bannerprincipal a{
    border:none;
    outline: none;
    height:30px;
    width: 200px;
    background: #b3007a9d;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 5px;

}


.login{
    width: 320px;
    height: 420px;
    background: 000s;
    color: #fff;
    top:50%;
    left: 50%;
    display: flex;
    transform: translate(-50px, -50pxs);
    box-sizing: border-box;
    padding-top: 80px;
    padding: 40px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-top:1px solid rgba(220, 11, 216, 0.5);
    border-left:1px solid rgba(18, 176, 255, 0.5);
    border-radius:15px;
    margin-top: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    ;
}

 .logostar{
   font-size: 150px;
   position: absolute;
    border-radius: 50%;
    display: flex;
    top:-100px;
    left:calc(50% - 50px);
    
  background: #ff0000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff0000, #9932cc); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff0000, #9932cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.logininput{
    width: 90%;
    margin-bottom: 20px;
}
.titulologin{
    margin:0;
    padding: 0 0 20px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.login input[type="text"],
.login input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    background: transparent;
    color:#fff;
    font-size: 16px;
    border-radius: 0px;

}

.login input[type="submit"]{
    border:none;
    outline: none;
    height:40px;
    background: #b3007a;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}

.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login a:hover{
   color:white;
}
/*INICIO*/

.inicio{
    padding: 5%;
   margin-top: 30%;
   box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
   background: rgba(255,255,255,0.1);
   color: white;
   opacity: 80%;
   height: 80%;
   width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   backdrop-filter:blur(5px);
   -webkit-backdrop-filter:blur(5px);
   border-top:1px solid rgba(220, 11, 216, 0.5);
   border-left:1px solid rgba(18, 176, 255, 0.5);
   border-radius:15px;

}
.textobienvenida{
   margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.textobienvenida h2{
  background: #b3007a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;

  
}
.textobienvenida p{
    padding-top:20px;
}

.frentelocal{
    width: 60%;
    border-radius: 30%;
    padding: 30px;
}

.clasesyhorarios{
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 70%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: white;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        background: rgba(255,255,255,0.1);
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter:blur(5px);
        border-top:1px solid rgba(220, 11, 216, 0.5);
        border-left:1px solid rgba(18, 176, 255, 0.5);
        border-radius:15px;
}
.clasesyhorarios h2{
    background: #b3007a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3em;
}
.texthorario{
padding: 5%;
}


.staff{
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 70%;
    margin-top: 20%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-top:1px solid rgba(220, 11, 216, 0.5);
    border-left:1px solid rgba(18, 176, 255, 0.5);
    border-radius:15px;
}
.staff h2{
    background: #b3007a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b3007a, #32bbcd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3em;
    margin-top: 10%;
}

.staff hr{
    width: 80%;
    margin-top:20px;
    margin-bottom: 20px;
}
.imagenprofes{
    width: 80%;
    height: 50%;
    border-radius: 30px
}
.horariosficha{
 width: 80%;
 padding: 20px;

}

.formulario{
    color:white;
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin-top: 150px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-top:1px solid rgba(220, 11, 216, 0.5);
    border-left:1px solid rgba(18, 176, 255, 0.5);
    border-radius:15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    justify-content: center;
    align-items: center;
}


.profesores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.profecard{
    width: 350px;
    height: 320px;
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inscripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.inscripcion h3{
    background: #b3007a; 
    background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); 
    background: linear-gradient(to right, #b3007a, #32bbcd); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
}


.inputdato{
    padding: 2%;
    margin-bottom: 10px;
    border:none;
    border-bottom: 1px solid;
    outline: none;
    height: 40px;
    background: transparent;
    color:#fff;
    font-size: 16px;
    border-radius: 0px;
}

.profesores p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    flex-direction: column;
}

.contenedoractividades{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
width: 100%;

margin-top: 10%;
padding-top: 10px;
}



 #text{
    width: 100%;
}
input{
    border-radius: 10px;
    width: 70%;
    height: 20px;
    margin-left: 5px;
    padding: 10px;

}
.actividades1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10%;
}
.actividades2{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.datos-personales{
    width: 100%;
    display:flex;
    flex-direction: column;
    height:70%;
    padding: 20px;
    justify-content: space-around;
    
}


.botonenvio{
    color:white;
    width: 30%;
    height: 40px;
    margin-top: 10%;
    background-color: #b3007a;
    border-radius: 10px;
    font-size: 100%;
}

/*_______________PAGINA DE CONTACTO_____________________*/

.contacto{
    display: flex;
    flex-direction: column;
    color:white;
    border: solid;
    border-color: blueviolet;
    border-radius: 30px;
    width: 60%;
    height: 500px;
    margin-top: 150px;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-top:1px solid rgba(220, 11, 216, 0.5);
    border-left:1px solid rgba(18, 176, 255, 0.5);
    border-radius:15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    justify-content: center;
    align-items: center;

}
.contacto h2{
    background: #b3007a; 
  background: -webkit-linear-gradient(to right, #b3007a, #32bbcd); 
  background: linear-gradient(to right, #b3007a, #32bbcd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 15%;
}

.contacto input{
    padding: 2%;
    margin-bottom: 10px;
    border:none;
    border-bottom: 1px solid;
    outline: none;
    height: 40px;
    background: transparent;
    color:#fff;
    font-size: 16px;
    border-radius: 0px;
}

.contacto textarea{
    width: 70%;
    height: 40%;
    background: transparent;
    color:#fff

}

.contacto svg{
    width: 60%;
    
}

footer{
    background-color: black;
    color: #b3007a;
}